{% extends "base.html" %}

{% block content %}
    {% if not (page.is_homepage or page.meta.hide_tags) %}
        {% for tag in page.meta.tags %}
            <a href = "/tags.html#{{ tag }}" title="{{ tag }}" class="md-tag">
                #{{ tag }}&nbsp;
            </a>
        {% endfor %}
    {% endif %}
    <div style="float:right"><span id="busuanzi_container_page_pv"><font size="2" color="grey">本文阅读量&nbsp;<span id="busuanzi_value_page_pv"></span></font></span></div>
  {{ super() }}
  
{% endblock %}